<p id="notice"><%= notice %></p>

<h1>Listing Animals</h1>

<table class="table">
  <thead>
    <tr>
      <th>Common name</th>
      <th>Latin name</th>
      <th>Kingdom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="animal_list">
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.common_name %></td>
        <td><%= animal.latin_name %></td>
        <td><%= animal.kingdom %></td>
        <td><%= link_to 'Show', animal %></td>
        <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
        <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <input type="text" name="animal[common_name]" placeholder="Common Name" id="animal_common_name"/>
  <input type="text" name="animal[latin_name]" placeholder="Latin Name" id="animal_latin_name"/>
  <input type="text" name="animal[kingdom]" placeholder="Kingdom" id="animal_kingdom"/>
  <button id="add_new_animal_button">Add New Animal</button>
</p>
<br>


<%= link_to 'Sightings', sightings_path %>


<div id="calendar"></div>
